.home {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

.title-container {
  float: left;
  padding: $app-padding;
  text-align: center;

  .title {
    cursor: pointer;
    font-family: $font-header-style;
    font-size: 160pt;
  }

  .tagline {
    font-family: $font-normal-style;
    font-size: 22pt;
  }

  .tag {
    font-family: $font-normal-style;
    font-size: 160pt;
    color: $red;
  }
}

.intro-container {
  float: left;
  position: relative;
  padding: $app-padding;
  font-size: 39pt;
  line-height: 45pt;
  background: $blue;
  color: white;

  .lead {
    font-family: $font-header-style;
  }

  .highlight {
    color: $red;
  }
  .tag {
    font-family: $font-normal-style;
  }
  .name {
    font-family: $font-header-style;
  }
}

.twitter {
  opacity: .2;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -80px;
  height: 40px;
  width: 170px;
  background: url('/images/twitter.png') no-repeat 0px 4px;
  text-align: center;

  a {
    line-height: 34px;
    font-size: 16pt;
    font-family: $font-header-style;
    color: black;
    text-decoration: none;
  }
}
