
.title-container {
  padding: $app-padding;
  text-align: center;

  .title {
    font-family: $font-header-style;
    font-size: 160pt;
  }

  .tagline {
    font-family: $font-normal-style;
    font-size: 22pt;
  }

  .tag {
    font-family: $font-normal-style;
    font-size: 160pt;
    color: $red;
  }
}

.intro-container {
  position: relative;
  padding: $app-padding;
  font-size: 39pt;
  line-height: 45pt;
  background: $blue;
  color: white;

  .lead {
    font-family: $font-header-style;
  }

  .highlight {
    color: $red;
  }
  .tag {
    font-family: $font-normal-style;
  }
  .name {
    font-family: $font-header-style;
  }
}

