.tutorial {
  height: 100%;
  font-family: $font-body-style;
  padding: $app-padding $app-padding 0 $app-padding;
}

.header-bar {
  border-bottom: 1px solid $blue;

  &:after {
    display: block;
    content: '';
    clear: both;
  }
  .codr-logo {
    background: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    color: $blue;
    display: inline-block;
    font-size: 32pt;
    line-height: 46pt;
    .tag {
      font-family: $font-normal-style;
      color: $red;
    }
    .name {
      font-family: $font-header-style;
    }
  }
  .language-menu {
    float:right;
    display: inline-block;
    line-height: 46pt;

    .language {
      min-width: 125px;
      color: $blue;
      padding: 0;
      font-size: 18pt;
      @include nav-menu-buttons;
    }

  }
}

.module-nav-bar {
  margin-top: 36px;
  margin-left: -7px;
}

.module {
  color: $red;
  font-size: 18pt;
  line-height: 25pt;
  @include nav-menu-buttons;
  &:first-of-type {
    min-width: 185px;
  }

}

.topic {
  @include nav-menu-buttons;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  margin-right: -4px;
  font-size: 18pt;
  line-height: 25pt;
  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;
  border-right: 2px solid $blue;
  background: $light-blue;
  color: white;
  &.active {
    background: $blue;
  }
  &:first-of-type {
    border-left: 2px solid $blue;
  }
}

.tutorial-container {
  border-right: 1px solid $blue;
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.motion.topic-container .topic-items {
  min-height: 800px;
}
.events.topic-container .topic-items {
  min-height: 580px;
}
.control.topic-container .topic-items {
  min-height: 640px;
}

.topic-items {
  min-height: 600px;
  background: $lighter-blue;
  float:left;
  width: 250px;
  border-left: 1px solid $blue;
  border-right: 2px solid $blue;

  .topic-item {
    display:block;
    border-bottom: 1px solid $blue;
    min-height: 65px;
    padding: 25px;
    &:last-of-type {
      border-bottom: none;
    }
    &.active {
      background: white;
    }
  }
}

.topic-container.operators .topic-items .topic-item {
  min-height: 37px;
}
.stage {
  margin-left: 251px;
}

.how-it-works {
  padding: 25px 22px;
  font-size: 13pt;
  line-height: 20pt;
  border-bottom: 1px solid $blue;

  ul {
    margin: 0;
    padding-left: 20px;
  }
  .header {
    color: $light-red;
    font-family: $font-header-style;
    font-size: 18pt;
    line-height: 23pt;
  }
}
.code {
  padding: 25px 22px;
  color: $dark-gray;
  font-size: 13pt;
  line-height: 20pt;
  position:relative;
}

.codr-footer, .scratch-footer {
  text-align: center;
  color: white;
  background: $light-blue-opaque;
  font-family: $font-header-style;
  font-size: 32pt;
  line-height: 40pt;
  border: 2px solid $blue;
  margin-bottom: $app-padding;
}
.codr-footer {
  background: $light-red;
  .tag {
    font-family: $font-normal-style;
  }
}
.scratch-footer {
  width: 249px;
  float:left;
}

.scratch-img-step {
  display: block;
  margin-bottom: -3px;
}

.try-it-button {
  cursor: pointer;
  outline: none;
  background: none;
  border: 1px solid $blue;
  margin: 0;
  padding: 0 20px;
  top: -1px;
  right: -1px;
  position:absolute;
  color: $light-red;
  font-family: $font-header-style;
  font-size: 13pt;
  line-height: 23pt;
}

