@mixin nav-menu-buttons {
  text-decoration: none;
  margin:0;
  outline: none;
  font-family: $font-body-style;
  background: none;
  border: none;
  cursor: pointer;
  &:active, &.active, &.selected {
    cursor: default;
    font-family: $font-header-style;
  }
}


.next {
  position:absolute;
  bottom: $app-padding;
  right: $app-padding;
  font-size: 44pt;
  color: $red;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}


