<div class="topic-nav-bar">
  <button class="topic selected" aria-label="Currently viewing events topic" disabled>events</button>
  <button class="topic" aria-label="view motion topic" action="gotoMotion">motion</button>
  <button class="topic" aria-label="view control topic" action="gotoControl">control</button>
  <button class="topic" aria-label="view operators topic" action="gotoOperators">operators</button>
</div>

<div class="tutorial-container">
  <div class="topic-items">
    <div class="topic-item selected">
      <img src="images/Scratch_blocks/events/2.0_When_Green_Flag_Clicked.png" alt="green flag scratch event block"/>
    </div>
    <div class="topic-item">
      <img src="images/Scratch_blocks/events/2.0_When_()_Key_Pressed.png" alt="space key press scratch event block"/>
    </div>
    <div class="topic-item">
      <img src="images/Scratch_blocks/events/2.0_When_This_Sprite_Clicked.png" alt="sprite click scratch event block"/>
    </div>
  </div>
  <div class="stage">
    <div class="how-it-works">
      <div class="header">How it works</div>
      <ul>
        <li>Flow control is managed by opening and closing braces { and }.
        <li>Events are used in Javascript to control interactions with the user
        <li>The event here is the document completing loading. This is the start of the event tree
        ￼￼in Javascript
        <li>The document loading is the equivalent of the start flag being clicked in Scratch
      </ul>
    </div>
    <div class="code">
      <code>
        $(document).ready(function(){

        });
      </code>
    </div>
  </div>
</div>

<div class="scratch-footer">
  scratch
</div>
<div class="codr-footer">
  {{partial 'codr-logo'}}
</div>

