<div class="question">
  I primarily want to code to:
</div>
<ul class="answers">
  <li class="answer-item">
    <input class="answer-input" type="radio" name="quiz" id="answer1">
    <label for="answer1">Communicate with others</label>
  </li>
  <li class="answer-item">
    <input class="answer-input" type="radio" name="quiz" id="answer2">
    <label for="answer2">Build beautiful things</label>
  </li>
  <li class="answer-item">
    <input class="answer-input" type="radio" name="quiz" id="answer3">
    <label for="answer3">Entertain myself and others</label>
  </li>
</ul>

<button aria-label="Next" class="next" {{action 'gotoQuestion3'}}>&gt;</button>
