Your next coding language is
<div class="result-language">Javascript</div>
Use <span class="tag">&lt;</span><span class="name">codr</span><span class="tag">&gt;</span>
to see how it is different from Scratch.

<button aria-label="Go to Javascript tutorial" class="next" {{action 'startJavascript'}}>&gt;</button>
