Your next coding language is
<div class="result-language">Javascript</div>
Use {{partial 'codr-logo'}} to see how it is different from Scratch.

<button aria-label="Go to Javascript tutorial" class="next" {{action 'gotoJavascript'}}>&gt;</button>
