<div class="header">How it works</div>
<ul>
  <li>Flow control is managed by opening and closing braces { and }</li>
  <li>The for loop is broken into 3 elements separated by semicolons ;</li>
  <li>The first piece: i = 0, initializes the variable i to 0</li>
  <li>The second piece: i &lt; 10 is the condition for the loop to continue</li>
  <li>The third piece: i++ (which means i = i + 1) is the step that needs to occur each time through the loop</li>
  <li>The end result is that the loop will be executed 10 times, and the variable i will be
  available inside the braces and will iterate from 0 to 9 with the loop cycle</li>
</ul>
