<div class="header">How it works</div>
<ul>
  <li>In JavaScript, braces { and } are important. Make sure you have a closing "}" brace for every opening "{". 
  Things will happen in the order they are inside of the braces, similar to the sequencing of blocks in Scratch.</li>
  <li>In Scratch we like using logic with the "if <> then... else": if something is true, 
  run this bit of code otherwise “else” run this other code.</li>
<li>Like Scratch these things will happen if something is True or False.</li>
</ul>
Play with {{partial 'codr-logo'}}: will something in "else" happen if "if" is true?
