<div class="header">How it works</div>
<ul>
   <li>In JavaScript, braces { and } are important. Make sure you have a closing "}" brace for every opening "{". 
  Things will happen in the order they are inside of the braces, similar to the sequencing of blocks in Scratch.</li>
  <li>In Scratch we tell it to repeating for a number of times, in JavaScript we use “int” and math.</li>
  <li>Int is short for integer, this temporarily stores a value.</li>
  <li>At the beginning of this loop, "i=0"</li>
  <li>Each time this loop runs the "i++" adds 1 more to "i".</li>
  <li>This loop will stop when “i<10”, this means the loop will run 10 times.</li>

</ul>
  Play with {{partial ‘codr-logo’}}: How many times will this run if you change the "i=0;i<10" to different values? 
