<div class="header">How it works</div>
<ul>
  <li>Flow control is managed by opening and closing braces { and }</li>
  <li>The While statement in Javascript continues execution of the code in the braces until the condition is false</li>
  <li>By putting the Boolean true in the while condition, it will never be false and so will run forever</li>
</ul>
