<div class="header">How it works</div>
<ul>
  <li>Flow control is managed by opening and closing braces { and }</li>
  <li>The setTimout funcion in Javascript is used to create a new thread of execution that begins
  after a specifed delay</li>
  <li>The units of delay are milliseconds, so we need to delay for 1000 milliseconds</li>
  <li>Any code that you put within the setTimeout block will start executing after the specified delay</li>
  <li>Any code outside of the setTimeout block remains in the current thread of execution and is uneffected by the setTimeout delay</li>
</ul>
