<div class="header">How it works</div>
<ul>
  <li>In JavaScript, braces { and } are important. Make sure you have a closing "}" brace for every opening "{". 
  Things will happen in the order they are inside of the braces, similar to the sequencing of blocks in Scratch.</li>
<li>"While" in JavaScript is similar to "forever" in Scratch. 
It will continue doing whatever is inside the loop until it is false.</li>
<li>As long as the word inside the parenthesis is "true", this loop will happen forever. </li>
</ul>
Play with {{partial ‘codr-logo’}}: What would happen if this became "false"?

  
  
