<div class="header">How it works</div>
<ul>
<li>In Scratch we use "wait". This is called "sleep" in Javascript.</li>
<li>Instead of counting in seconds, "sleep" counts in milliseconds.  If we want to wait for 1 second that is 1000 milliseconds.</li>
<li>Like "wait" in Scratch, "sleep" in Javascript keeps the next thing from happening until time passes.</li>
  </ul>
Play with {{partial 'codr-logo'}}: What would happen if you wait for longer than 1000?
