<div class="header">How it works</div>
<ul>
  <li>Flow control is managed by opening and closing braces { and }.</li>
  <li>Events are used in Javascript to control interactions with the user</li>
  <li>In this example we are using JQuery to identify the sprite by it's HTML class name and registering a click handler</li>
  <li>When the sprite is clicked, the code inside the braces is called</li>
</ul>
