<div class="header">How it works</div>
<ul>
   <li>In JavaScript, braces { and } are important. Make sure you have a closing "}" brace for every opening "{". 
  Things will happen in the order they are inside of the braces, similar to the sequencing of blocks in Scratch.</li>
  <li>Like Hat Blocks in Scratch, "event" in JavaScript makes things happen.</li>
  <li>Objects in JavaScript, like sprites in Scratch, can listen for things to happen and react.</li>
  <li>When "thisSprite" is clicked, the code inside the braces will happen.</li>
</ul>
