<div class="header">How it works</div>
<ul>
  <li>Flow control is managed by opening and closing braces { and }.</li>
  <li>Events are used in Javascript to control interactions with the user</li>
  <li>A key being pressed is the equivalent of an "event"</li>
  <li>The event is captured and tested</li>
  <li>The number 32 represents the spacebar in javascript (32 is the ASCII code for a space character)</li>
</ul>
