<div class="header">How it works</div>
<ul>
   <li>In JavaScript, braces { and } are important. Make sure you have a closing "}" brace for every opening "{". 
  Things will happen in the order they are inside of the braces, similar to the sequencing of blocks in Scratch.</li>
  <li>Like Hat Blocks in Scratch, "event" in JavaScript makes things happen.</li>
  <li>In JavaScript ".ready" is similar to "when the green flag is clicked" in Scratch. 
  This will load everything under it at the start of the project.</li>
  </ul>
