<div class="header">How it works</div>
<ul>
  <li>Flow control is managed by opening and closing braces { and }.</li>
  <li>Events are used in Javascript to control interactions with the user</li>
  <li>The event here is the document completing loading. This is the start of the event tree ￼￼in Javascript</li>
  <li>The document loading is the equivalent of the start flag being clicked in Scratch</li>
</ul>
