<div class="header">How it works</div>
<ul>
  <li>JavaScript moves in terms of pixels. Pixels are tiny. 10 steps in Scratch is 100 pixels in JavaScript.</li>
  <li>JavaScript is on the coordinate plane. Like Scratch, there is an X and Y axis. </li>
  <li>To move to the right which is “point in direction 90” in Scratch, we add to X.</li>
  </ul>
Play with {{partial ‘codr-logo’}}: How can you move to the left in JavaScript?</br>
If you would like to replicate Scratch's "glide" try the JQuery animate function.

