<div class="header">How it works</div>
<ul>
  <li>Rotation is accomplished by using the CSS rotation transform</li>
  <li>CSS is used to define how HTML within a page should look</li>
  <li>In this case we use Javascript to set CSS style for our sprite</li>
  <li>Because this ability is relatively new, you need to provide browser vendor specific commands for it to work in all browsers</li>
</ul>
