<div class="header">How it works</div>
<ul>
  <li>Unlike Scratch, rotation is a relatively new ability in JavaScript. 
  To rotate using JavaScript we use CSS.</li>
  <li>CSS helps define how elements within a website look.</li>
  <li>Rotation is different for each web browser that's why we use "moz-transform" and "ms-transform"</li>
  </ul>
