<div class="header">How it works</div>
<ul>
  <li>Logic in Scratch is very similar to JavaScript</li>
  <li>The "__ and ___" block in Scratch matches to the  &amp;&amp; operator in JavaScript.</li>
  <li>Like in Scratch this will combine the two things together.</li>
</ul>
Note: The  &amp; operator in Javascript is a comparison which does not exist in Scratch.
