<div class="header">How it works</div>
<ul>
  <li>Logical operators are very similar in Scratch and Javascript</li>
  <li>Logical operators can be placed anywhere that a Boolean is required</li>
  <li>The less than sign is identical</li>
</ul>
