<div class="header">How it works</div>
<ul>
  <li>Logical operators are very similar in Scratch and Javascript</li>
  <li>The = sign in Javascript is used for assigment only</li>
  <li>The == sign in Javascript is not a strict comparison</li>
  <li>The === sign in Javascript is the equivalent of = in Scratch</li>
</ul>
