<div class="header">How it works</div>
<ul>
<li>Logic in Scratch is very similar to JavaScript</li>
<li>Like in Scratch, Logical Operators go anywhere we need to know if something is True or False.</li>
<li>X is less than Y</li>
</ul>
