<div class="header">How it works</div>
<ul>
  <li>Logical operators are very similar in Scratch and Javascript</li>
  <li>The and word in Scratch matches to the &amp;&amp; operator in Javascript</li>
  <li>The &amp; operator in Javascript is a bitwise comparison, which does not exist in Scratch</li>
</ul>
