<div class="header">How it works</div>
<ul>
<li>The "__ or __" block in Scratch matches to the || operator in JavaScript.</li>
<li>The "|" operator in Javascript is a comparison which does not exist in Scratch.</li>
</ul>
