<div class="header">How it works</div>
<ul>
  <li>Logical operators are very similar in Scratch and Javascript</li>
  <li>The or word in Scratch matches to the || operator in Javascript</li>
  <li>The | operator in Javascript is a bitwise comparison, which does not exist in Scratch</li>
</ul>
