<div class="header">How it works</div>
<ul>
  <li>Logical operators are very similar in Scratch and Javascript</li>
  <li>The not word in Scratch matches to the ! operator in Javascript</li>
  <li>This can be used as !=== meaning "not equal to" in Javascript</li>
</ul>
