<div>
This block is used to initialize the sprite's vertical position. Within javascript, we
do this by grabbing the initial vertical position of the sprite and saving into the
yOffset variable.
</div>

