<div class="header">Program 1</div>
<div class="sub-header">Click on the Scratch block to view its equivalent in Javascript</div>
<div>
  The green flag block is the trigger that is used to start the Scratch program. In Javascript
  we can use the JQuery $(document).ready() function to determine when the web page has
  finished loading--which is when we want to start executing Javascript on the web page. 
  All the code that we want to execute is placed within the curly braces { and }.
</div>

