<div>
This block is used to initialize the position of the sprite. Within Javascript we actually use
the CSS stylesheet to specify the initial position, so we don't actually specify this in Javascript.
</div>

