<div>
  In scratch we use a Wait Block to tell the program to wait for 0.2 seconds before switching the costume.
  In Javascript, we use a setTimeout function to tell JavaScript that it needs to wait. JavaScript
  will execute the function that is inside the setTimeout after waiting for 200 miliseconds. The unit of time that you use for setTimeout is
  miliseconds. Since setTimeout has a function inside of its "parameters", we call that a "callback function". This is a special type of
  function that appears in JavaScript.
</div>
