<div>
  We are using the "is-moving" variable in Scratch to keep track of whether or
  not our sprite is still moving. In Scratch we set this variable to 0 to indicate that the sprite is done moving.
  In JavsScript we are using this variable for the same purpose, although we are setting it to "false" to
  indicate that the sprite is moving. This variable assignment is put inside a function, which in turn is actually the last item
  specified in the JQuery animate function. This last item is how you tell JQuery what it should do when the animation is complete. This
  type of function, which is placed inside the parameters to another function is a special kind of function that we call a "callback function".
</div>
