<div>
  We are using the "is-moving" variable in Scratch to keep track of whether or
  not our sprite is still moving. In Scratch we set this variable to 1 to indicate that the sprite is moving.
  In JavsScript we are using this variable for the same purpose, although we are setting it to "true" to
  indicate that the sprite is moving.
</div>
