<div class="header">Program 1</div>
<div class="sub-header">Click on the Scratch block to view its equivalent in Javascript</div>
<div>
  The repeat Scratch block is used to repeat the execution of a group of Scratch
  blocks for a specified number of times. The equivalent command in Javascript is the for loop,
  where the commands to execute in each loop are specified within the braces { and }.
</div>
