<div>
This block is used to initialize the sprite's horizontal position. Within javascript, we
do this by grabbing the initial horizontal position of the sprite and saving into the
xOffset variable.
</div>

