<div class="header">Program 1</div>
<div class="sub-header">Click on the Scratch block to view its equivalent in Javascript</div>
<div>
In scratch we use the glide Scratch block to animate the movement of the sprite to a new position.
In Javascript we use the JQuery animate command to animate the movement of the sprite to a new position
that is specified within the arguments of the animate command. In this case we are "chaining" the
JQuery command. We do this by appending our animate to the previous JQuery command. This second animate
will only execute after the first animate has completed by doing this.
</div>

