<div>
  In scratch we use the glide block to animate our sprite moving across
  the screen. In JavaScript we perform the same animation by using the "animate" JQuery
  function. We tell the JQuery function that we want to move the sprite 300 pixels to
  the left. We also tell the animate function that we want the animation to last for 3 seconds. The JQuery animate
  function uses miliseconds as the unit of time for the animation, so we write "3 * 1000" to make it really clear that
  we want the animation to last 3 seconds (since there are 1000 miliseconds in a second). Finally, we tell the JQuery animate
  function that we don't want to slow down or speed up during the animation (which it can do), by using the word "linear". This means
  that the sprite's animation speed should be the same during the entire animation.
</div>
