<div>
The change Scratch block is used to change a variable's value. We increase the xoffset variable in scratch 
by 50 in order to move the sprite right 50 steps. In Javascript we do this by using the += command
which is equivalent, in this case, to x = x + 50. This is also used to move the sprite 50 pixels to the right in Javascript.
</div>

