<div class="header">Program 1</div>
<div class="sub-header">Click on the Scratch block to see how it works in Javascript</div>
<div>
  In Scratch, "when the green flag is clicked" block is used to start projects in Scratch. 
  In Javascript, the JQuery "$(document).ready()" function starts after the web page is loaded.
  All the code that we want to run is organized between the curly braces "{" and "}".
</div>

