<div>
  The point block is used in scratch to set the direction of the sprite. This concept doesn't 
  exist within Javascript, as the direction is implied by the coordinates specified in Javascript.
</div>

