<div>
In Scratch, we use the Broadcast block to inform other blocks that we
want to start switching the costume of our sprite. In JavaScript we call
our custom "switchCostume" function to start switching our sprite's costume. We do this
by adding a "()" to the end of the function name.
</div>
