<div class="header">Program 1</div>
<div class="sub-header">Click on the Scratch block to see how it works in Javascript</div>
<div>
  The point block is used in scratch to set the direction of the sprite. This concept doesn't 
  exists within Javascript, as the direction is implied by the coordinates specified in Javascript.
</div>

