<div>
The change Scratch block is used to change a variable's value. We decrease the yoffset variable in scratch 
by 50 in order to move the sprite up 50 steps. In Javascript we do this by using the -= command
which is equivalent, in this case, to y = y - 50. This is also used to move the sprite 50 pixels up in Javascript.
</div>

