<div class="header">Program 1</div>

<div class="sub-header">Click on the Scratch block to see how it works in Javascript</div>
<div>
Like Scratch, this block is used to show the sprite. Within Javascript we actually use 
CSS stylesheet to specify the visibility of the sprite.
</div>

