<div>
  In Scratch we use a "Next Costume" block to change the sprite's costume to the next costume for the sprite. In JavaScript we take
  advantage of CSS for this. The sprite that we use in JavaScript has a "class" associated with it. A class is just a name that we give our sprite in the HTML.
  In our CSS we say which costume image we want to use for the different classes in the HTML. We use one costume when the sprite has the "next-costume" class, and a different costume
  when our sprite doesn't have this class. Then in JavaScript we check to see which class we are using for our sprite. If our sprite
  has the "costume-next" class, then we remove that class name from our sprite. If our sprite does not have the "costume-next" class then we add it.
</div>
