<div>
In Scratch we use a "When I Receive" block to start executing all the blocks underneath it when after
a "move" event is broadcast from a Broadcast block--this is used to switch the sprite's costume.
In JavaScript, we create our own function called "switchCostume" and place all the code we want to execute
for switching the costume in between the { and } brackets. Anytime "switchCostume()" is encountered in our JavaScript
program, all the code in between the { and } brackets is run.
</div>
