<div class="header">Program 1</div>
<div>
In scratch we use the glide Scratch block to animate the movement of the sprite to a new position.
In Javascript we use the JQuery animate command to animate the movement of the sprite to a new position
that is specified within the arguments of the animate command.
</div>

