<div class="title-container">
  <div class="title">
    {{partial 'codr-logo'}}
  </div>
  <div class="tagline">&lt;moving from Scratch to code made easy and fun&gt;</div>
</div>

<div class="intro-container">
  <p class="lead"><span class="highlight">
    {{partial 'codr-logo'}}
    </span>
  helps you take the next step.
  </p>
  <p>What coding language do you want to learn? Javascript, Python, or Processing?</p>
  <p>Take the <span class="tag">&lt;</span><span class="name">codr</span><span class="tag">quiz&gt;</span>
  and take the first step after Scratch.</p>
  <button aria-label="Start Quiz" class="next" {{action 'startQuiz'}}>&gt;</button>
</div>
