<div class="header-bar">
  <button class="codr-logo" {{action "gotoHome"}} aria-label="Go to home">
    {{partial 'codr-logo'}}
  </button>
  <span class="language">javascript</span>
</div>

{{outlet}}
