<div class="module-nav-bar">
  {{#each modules}}
    {{#link-to 'module' this class="module"}}{{title}}{{/link-to}}
  {{/each}}
</div>

<div {{ bind-attr class="dasherizedTitle :module-container" }}>
  {{outlet}}
</div>
