<div class="module-nav-bar">
  <button class="module selected" aria-label="Currently viewing block references module" disabled>block references</button>
  <button class="module" aria-label="view examples module" {{action "gotoExamples"}}>examples</button>
</div>

{{outlet}}
