<div class="topic-nav-bar">
  {{#each topics}}
    {{#link-to 'topic' this class="topic"}}{{title}}{{/link-to}}
  {{/each}}
</div>

<div {{bind-attr class="topic.title :topic-container"}}>
  {{outlet}}
</div>

<div class="scratch-footer">
  scratch
</div>
<div class="codr-footer">
  {{partial 'codr-logo'}}
</div>
