<div class="tutorial-container">
  <div class="topic-items">
    {{#each topicItems }}
      {{#link-to 'topic-item' this class="topic-item"}}
        <img {{ bind-attr src=imageUrl alt=title }}/>
      {{/link-to}}
    {{/each}}
  </div>
  <div class="stage">
    <div class="how-it-works">
      {{ partial topicItem.instructionPartial }}
    </div>
    <div class="code">
      {{ partial topicItem.examplePartial }}
    </div>
  </div>
</div>
