<div class="tutorial-container">
  <div class="topic-items">
    {{#each item in topicItems }}
      {{#link-to 'topic-item' item class="topic-item"}}
        {{image-list item}}
      {{/link-to}}
    {{/each}}
  </div>
  <div class="stage">
    <div class="how-it-works">
      {{ partial topicItem.instructionPartial }}
    </div>
    <div class="code">
      {{ partial topicItem.examplePartial }}
    </div>
  </div>
</div>
