<button class="detail-btn">how it works</button>
<button class="detail-btn">code</button>
<div class="widget-stage">
  <div class="how-it-works">
    {{ partial topicItem.instructionPartial }}
  </div>
  <div class="code">
    {{ partial topicItem.examplePartial }}
  </div>
</div>
